:root {
    --color1: #0E185F;
    --color2: #2FA4FF;
    --color3: #00FFDD;
    --color4: #E8FFC2;

    /* --color1: #495371;
    --color2: #74959A;
    --color3: #98B4AA;
    --color4: #F1E0AC; */
}

body {
    margin: 0;
}

/* Header start */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color1);
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 200px;
    color: var(--color2);
    font-weight: bold;
}

header nav {
    margin: 7px 0;
    /* background: red; */
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0 10px 0 0;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color2);
    padding: 10px 15px;
}
/* Header end */

/* Hero start */
.hero{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: relative;
    background-image: url(../images/hero-background.jpg); /*Image by Anas Alshanti from https://unsplash.com/photos/feXpdV001o4 */
    background-size: cover;
    height: 55%;
    padding: 10px 0;
}

.hero p {
    display:flex;
    justify-content: center;
    background: var(--color1);
    color: var(--color2);
    width: 80%;
    height: 50px;
    bottom: 20px;
    right: 0px;
    font-size: 50px;
}

#profile-image {
    width: 250px;
    height: auto;
    left: 30px;;;
}

#profile-image img{
    max-width: 100%;    
}
/* Hero end */

/* General sections start */
.portfolio-section {
    display:flex;
    flex-direction: column;
    align-items: center;
    background: var(--color3);
    padding: 10px 0;
    width: 100%;
}

.section-title {
    display: inline-block;
    color: var(--color1);
    border-width: 0 0 2px 0;
    border-style: solid;
    border-bottom-color: var(--color1);
    padding: 2px 5px;
}
/* General sections end */

/* About me section start */
#about-me p{
    text-align: center;
    padding: 0 10px;
    color: var(--color1);
}

/* About me section end */

/* Work section start */
#work article {
    display:flex;
    flex-direction: column;
    width: 90%;
    padding: 0 10px;
    margin: 0 10px;
}

.published-work {
    text-decoration: none;
    position: relative;
    background-image: url();
}

.primary-work, .published-work {
    display: inline-block;
    width: 100%;
    background-image: url(../images/run-buddy.png);
    background-size: 200%;
    text-decoration: none;
    padding: 0;
}

.secondary-work {
display: flex;
flex-wrap: wrap;
}


/* .published-work img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
} */
/* Work section end */

/* Secondary work boxes start */
.horiseon {
    background-image: url(../images/horiseon.png);
}
/* Secondary work boxes end */

/* Media Queries */
@media screen and (min-width: 575px) {
    
 }
 
 /* MEDIA QUERY FOR TABLETS AND SMALLER */
 @media screen and (min-width: 768px) {
     
 }
 
 /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
 @media screen and (min-width: 980px) {
    
 }