:root {
    /* --color1: #0E185F;
    --color2: #2FA4FF;
    --color3: #00FFDD;
    --color3: white;
    --color4: #E8FFC2; */

    --color1: #051367;
    --color2: #2D31FA;
    --color3: #5D8BF4;
    --color4: #DFF6FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background: var(--color2);
}

/* Header start */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color1);
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 200px;
    color: var(--color4);
    font-weight: bold;
    text-shadow: 0 0 15px black;
}

header nav {
    margin: 7px 0;
    /* background: red; */
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0 10px 0 0;
    width: 100%;
}

header nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color4);
    padding: 10px 15px;
    text-shadow: 0 0 15px black;
}

header nav ul li a:hover {
    background: var(--color2);
    /* color: var(--color3); */
    border-radius: 15px;
    text-shadow: none;
}
/* Header end */

/* Hero start */
.hero{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: relative;
    background-image: url(../images/hero-background.jpg); /*Image by Anas Alshanti from https://unsplash.com/photos/feXpdV001o4 */
    background-size: cover;
    height: 55%;
    padding: 10px 0;
}

.hero p {
    /* display:flex;
    justify-content: center; */
    display: inline-block;
    text-align: center;
    background: var(--color1);
    color: var(--color4);
    height: 50px;
    bottom: 20px;
    right: 0px;
    font-size: 40px;
    padding: 5px 5px 10px 5px;
}

#profile-image {
    width: 250px;
    height: auto;
}

#profile-image img{
    max-width: 100%;    
}
/* Hero end */

/* General sections start */
.portfolio-section {
    display:flex;
    flex-direction: column;
    align-items: center;
    background: var(--color3);
    padding: 10px 0;
    width: 100%;
    height: auto;
}

.section-title {
    display: inline-block;
    color: var(--color1);
    border-width: 0 0 2px 0;
    border-style: solid;
    border-bottom-color: var(--color1);
    padding: 2px 5px;
}

.section-content {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0 10px;
    margin: 0 10px;
}
/* General sections end */

/* About me section start */
#about-me p{
    text-align: center;
    font-size: 20px;
    color: var(--color1);
    line-height: 1.5;
    margin: 10px auto 0 auto;
    padding: 0 10px;
}

/* About me section end */

/* Work section start */

.primary-work {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0 20px;
}

.primary-work .published-work {
    width: 96%;
    background-size: 200%;
    height: 30vh;
}

.published-work {
    position: relative;
    display: inline-block;
    height: 15vh;
    width: 46%;
    background-image: url(../images/coming-soon.webp); /*Image by RossManYYC from https://pixabay.com/photos/coming-soon-chalk-board-blackboard-2550190/*/
    transition: background-image 0.25s;
    background-size: 100%;
    text-decoration: none;
    padding: 0;
    margin: 10px 2px;
    border: 2px solid var(--color1);
    border-radius: 1px;
}

.secondary-work {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
width: 100%;
padding: 0 20px;
margin-top: 5px;
}

.work-title {
    display: inline-block;
    position: absolute;
    bottom: 15px;
    left: 0px;
    background: var(--color1);
    padding: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

.work-title h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--color4);
    text-shadow: 0 0 15px black;
}

.work-title p {
    font-size: 10px;
    color: var(--color4);
}

/* Work section end */

/* Secondary work boxes start */
.run-buddy {
    background-image: url(../images/run-buddy-gray.png);
}

.run-buddy:hover {
    background-image: url(../images/run-buddy.png);
}

.horiseon {
    background-image: url(../images/horiseon-gray.png);
}

.horiseon:hover {
    background-image: url(../images/horiseon.png);
}
/* Secondary work boxes end */

/* Contact me section start */
#contact-me {
    height: 150px;
}

.contact-info {
    display: flex;
    justify-content: center;
    height: 90%;
}
.contact-info ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    /* padding: 0 25px 0 0; */
    margin-top: 10px;
}

.contact-info ul li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color1);
    margin: 10px 20px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-bottom-color: var(--color1);
}
/* Contact me section end */

/* Media Queries */

/* MEDIA QUERY FOR MOBILE PHONES AND BIGGER */
@media (min-width: 575px) {
    /* Work section start */
    .primary-work .published-work{
        height: 250px;
    }

    .published-work {
        height: 100px;
    }

    .secondary-work {
        margin-top: 20px;
    }
    /* Work section end */

    /* Contact me section start */
    #contact-me {
        height: 100px;
    }
    .contact-info ul {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 25px 0 0;
    }

    .contact-info ul li a:hover {
        color: var(--color2);
    }
    /* Contact me section end */
 }
 
 /* MEDIA QUERY FOR TABLETS AND BIGGER */
 @media (min-width: 768px) {
     /* Header start */
     header {
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         padding: 20px 10px 20px 0;
         position: relative;
     }

     header h1 {
        background: var(--color2);
        justify-content: flex-end;
        align-items: center;
        padding: 5px 5px 5px 0;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
     }
     /* Header end */

     /* Hero start */
     .hero {
         height: 450px;
     }
     .hero p {
         position: absolute;
         right: 20px;
         bottom: 40px;
     }

     #profile-image {
         position: absolute;
         left: 15vw;
         bottom: 40px;
     }
     /* Hero end */
 }
 
 /* MEDIA QUERY FOR SMALL DESKTOP SCREENS AND BIGGER */
 @media (min-width: 980px) {
     /* Header start */
    header h1 {
        /* padding: 5px 5px 5px 15vw; */
        width: 20vw;
    }
    header nav {
        display: inline-block;
        width: 30vw;
        margin: 0 5vw 0 0;
    }
     /* Header end */
    /* General sections start */
    .portfolio-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        width: 100vw;
    }
    .section-title {
        border-width: 0 5px 0 0;
        border-style: solid;
        border-bottom-color: var(--color1);
        padding: 10px 10px 5px 5px;
        margin: 0;
        width: 20%;
        text-align: right;
        font-size: 30px;
        /* background: red; */
    }

    .section-content{
        width: 80%;
    }
    /* General sections end */

    /* Contact me section start */
    .contact-info ul {
        flex-direction: row;
        justify-content: flex-start;
        padding: 0 25px 0 0;
    }
    /* Contact me section end */
 }